# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.dwlt

Library/AssetServerCacheV3

*.dwlt

Library/metadata/0a/0a74f2b0d5846425785bc749a7061848

Library/metadata/30/30f96bd3a10204501a3c47e02740c027

Library/metadata/9e/9e112edc047ee441fa971814a0486309
